* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #1C1C1C;
}

.App h1 {
  color: white;
  text-align: center;
  padding: 20px 0;
}

.repositories {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.repository {
  height: 200px;
  width: 250px;
  background-color: #6F6F6F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}